*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    user-select: none;
    background-color: #2ecc71;
}
#menu{
    width: 100%;
    max-width: 1000px;
    padding-top: 230px;
    text-align: center;
    margin: auto;
}
.zeman-text h1{
    font-size: 12vh;
}



#cas{
    width: 100%;
    max-width: 500px;
    padding-top: 130px;
    margin: auto;
}
.cas-text{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cas-text div{


    position: relative;
    width: 100px;
    height: 100px;
    
    line-height: 100px;
    text-align: center;

    margin: 0 15px;
    font-size: 5vh;
    font-weight: bold;
}

.cas-text div::before{
    color: black;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -30px;
    height: 50px;
    line-height: 35px;
    font-size: 1.4vh;

}
#text{
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding-top: 100px;
    margin: auto;
    font-size: 3vh;
}
.cas-text #Roky::before{
    content: 'Roky';
}
.cas-text #Dny::before{
    content: 'Dny';
}
.cas-text #Hodiny::before{
    content: 'Hodiny';
}
.cas-text #Minuty::before{
    content: 'Minuty';
}
.cas-text #Sekundy::before{
    content: 'Sekundy';
}